a:visited {
    color: #6D41FF;
    font-style: normal;
}
a:link {
    color: #6D41FF;
    font-style: normal;
}
a:hover {
    color: #6D41FF;
    font-style: normal;
}
a:active {
    color: #6D41FF;
    font-style: normal;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collapse{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction:column;
    flex-grow: 100%;
    align-items:center;
    margin:2rem;
    padding: 1rem 4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.wrapping {
    display: flex;
    justify-content:center;
}
@media only screen and (max-width: 900px) {
    .wrapping {
      flex-direction: column;
    }
  }