a:visited {
    color: #6D41FF;
    font-style: normal;
}
a:link {
    color: #6D41FF;
    font-style: normal;
}
a:hover {
    color: #6D41FF;
    font-style: normal;
}
a:active {
    color: #6D41FF;
    font-style: normal;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collapse{
    display: flex;
    
}